.editor {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    gap: 2rem;
    padding: 0 0 2rem;
    border: 1px solid hsla(6, 78%, 57%, 1);
    border-radius: 10px;
}