.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid hsla(17.74, 91.18%, 60%, 1);
    border-radius: 10px;
    gap: 10px;
}