.table {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 2rem;
    border: 1px solid hsla(6, 78%, 57%, 1);
    border-radius: 10px;
}

.table__loader {
    display: flex;
    position: relative;
    padding: 20px;
    max-width: 800px;
    margin: 2rem auto 0;
    text-align: center;
    border-radius: 5px;
    border: 1px dashed hsla(6, 78%, 57%, 1);
}

.table__input {
    display: flex;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.table__input::file-selector-button {
    display: none;
}

.table__hot-container {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

.table__button {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 1px solid hsla(6, 78%, 57%, 1);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.table__button:hover {
    box-shadow: 0 0 15px 5px hsla(6, 78%, 57%, 0.2);
    background-color: hsla(6, 78%, 57%, 0.2);
}

.table:hover .table__button {
    opacity: 1;
}