.convert {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 70vh;
    gap: 10px;
}

.convert__xml {
    display: flex;
    border: 1px solid hsla(6, 78%, 57%, 1);
    border-radius: 10px;
}