.export-button {
    display: flex;
    position: absolute;
    z-index: 160;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.convert__button:hover {
    box-shadow: 0 0 15px 5px color-mix(in srgb, var(--color-accent) 20%, transparent);
    background-color: color-mix(in srgb, var(--color-accent) 20%, transparent);
}